<div class="container"><br/><br/>
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
  				<div class="panel-heading">Username:</div>
 			 	<div class="panel-body">
    				<%= @user.username %>
  			 	</div>
			</div>

			<div class="panel panel-warning">
  				<div class="panel-heading">Email:</div>
 			 	<div class="panel-body">
    				<%= @user.email %>
  			 	</div>
			</div>

			<div class="panel panel-warning">
  				<div class="panel-heading">To-Do list items:</div>
 			 	<div class="panel-body">
    				<%= render @items %>
  			 	</div>
			</div>
			More new To-Do-List from <%= link_to "here", items_new_path %>
		</div>
	</div>
</div>	