
<%= form_for [current_user, item] do |i| %>
	<div class="form-group">
	<%= i.label :name %>
	<%= i.text_area :name, class: 'form-control',placeholder: "Enter new to-do item." %>
	</div>
	<div class="form-group">
	<%= i.submit "Save", class: 'btn btn-success' %>
</div>
<% end %>
